@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
body{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    background-color: #0F1624;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0.5rem;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    align-items: center;
}
img{
    width: 100%;
    border-radius: 3px;
}
a, p, h2, h3, h4{
    text-decoration: none;
    color: #f1ebeb;
}
p{
    opacity: .8;
}
h1{
    font-size: 3.4em;
}
h2{
    padding: 1rem 0.5rem;
    letter-spacing: 1px;
    font-size: 2.4em;
}
h3{
    font-size: 1.4em;
}

h4{
    text-align: center;
    font-size: 1.3em;
}
hr{
    height: 8px;
    border: none;
    background: linear-gradient(60deg, #d15e5ec2 40%, #ec5b5b88 70%);
    border-radius: 5px;
}
.section_divider{
    width: 160px; 
}

.navigation a{
    margin: 0 1.5rem;
}
.icons a{
    margin: 0 1rem;
    font-size: 1.6em;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
.left_div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.left_div h1{
    background: linear-gradient(60deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.459) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.right_div{
    width: 450px;
}
.right_div img{
    width: 110%;
}
.left_div a {
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: none;
  border-radius: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  max-width: 250px;
  padding: 1rem;
  cursor: pointer;
  margin-bottom: 4rem;
  font-size: 1.2em;
}
.left_div p{
    font-size: 1.1em;
    margin-top: -2rem;
}
.hero_section{
    margin-top: 5rem;
}

.project_card{
    max-width: 370px;
    margin: 5rem 0 5rem 0;
    box-shadow: #ffd60a  0px 1px 4px;
}
.project_card h3{
    text-align: center;
    color: #D15E5E;
    margin-top: .5rem;
}
.project_card p{
    padding: 1rem 2rem;
}
.project_card p{
    line-height: 26px;
}

.stack, .project_links{
    display: flex;
    justify-content: space-evenly;
}
.stack p{
    padding: 5px;
    margin: 1rem 0;
    color: #6B6DAF;
    font-weight: 700;
}

.project_links a{
    margin: .5rem 0 1.5rem 0;
    background-color: #f08080;
    border-radius: 8px;
    padding: 5px 15px;
}
.section_title{
    margin-top: 8rem;
}

.ux{
    text-align: center;
}
#skills{
    margin: 5rem 0 5rem 0;
    text-align: center;
}
#skills h3{
    font-size: 1.8em;
}
#skills p{
    font-size: 1.2em;
    padding: .5rem;
    max-width: 350px;
}

#about_section{
    margin: 10rem 0;
}
.about_content, .about_image{
    max-width: 500px;
}
.about_image img{
    border-radius: 47px;
    width: 80%;
    opacity: .8;
}
.about_image{
    display: flex;
    justify-content: center;
}
.about_content p{
    font-size: 1.2em;
    line-height: 26px;  
}
.about_content h2{
    padding: 0;
    margin: 1rem 0;
}

.timeline{
    margin-bottom: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timeline hr{
 width: 50px;
 border-radius: 0;
 background: linear-gradient(160deg, #5B42F3 40%, #00dbeb94 70%);
 margin: 0 2px;
}
.timeline_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 110px;
    text-align: center;
    border-radius: 8px;
    box-shadow: #ffd60ac5 0px 1px 6px 0px, #f1ebeb 0px 1px 6px 0px;
}
.timeline_card p{
    padding: 10px 10px 0px 10px;
}
.timeline_card h4{
    padding: 10px;
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0 .5rem 0;
}

footer .icons{
    margin-bottom: 2.5rem;
    font-size: 1.4em;
}
footer a{
    padding: .8rem;
    
}


/* Responsive */

@media (max-width: 1250px){
    .hero_section{
        font-size: 90%;
    }
    .about_image{
        justify-content: flex-end;
    }
    .name{
        margin-left: 15px;
    }
    .section_title{
        margin-left: 2rem;
    }
}
@media (max-width: 1150px) {
   .section_title{
       margin-left: 2rem;
   }
}

@media (max-width: 1100px) {
    .right_div img{
        width: 100%;
    }
    .right_div{
        width: 400px;
    }
    .left_div p{
        margin-top: -1rem;
    }
    .hero_section{
        font-size: 80%;
    }
    .hero_section{
        padding: 0 1rem;
    }
}

@media (max-width: 950px) {
    
}
@media (max-width: 900px) {
    .left_div p{
        margin-top: 0;
        margin-bottom: 8px;
    }
    .left_div a{
        padding: 0.8rem;
        max-width: 220px;
    }
    .section_title{
        margin-left: 1rem;
    }
}